.header {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: HelveticaNeueLTPro;
    background-color: black;
    border-bottom: 1px solid black;
}

.logo {
    display: grid;
    background-color: white;
    width: 33vw;
    max-height: 100%;
    place-items: center;
}

.logo > .link {
    padding: 1vw 2.2vw .6vw 2.2vw;
}

.logo > .link > img {
    width: 100%;
}

.navbar {
    width: 75vw;
    min-height: 100%;
    font-family: HelveticaNeueLTPro;
}

.navbar__container__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    background-color: black;
    height: 100%;
}

.navbar__container__mobile > li {
    width: 100%;
    height: 20vw;
    border-bottom: 1px solid white;
    font-size: 5vw;
}

.navbar__container__mobile > li > .link {
    display: grid;
    place-items: center;
    color: white;
    padding-top: 1vw;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .logo {
        flex-grow: 1;
    }
    .navbar {
        width: 10vw;
        aspect-ratio: 1/1;
    }
    
    .logo > .link {
        padding: 2.8vw 6vw 1.4vw 6vw;
    }
}
