.heading {
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4vw;
}

.heading > div {
    display: grid;
    place-items: center;
    background-color: black;
    color: white;
    width: max-content;
    padding: .8vw .8vw .2vw .8vw;
    font-size: var(--fs-big);
    font-weight: normal;
}

@media only screen and (max-width: 600px) {
    .heading {
        height: 60vw;
    }

    .heading > div {
        font-size: clamp(1rem, 4vw, 5rem);
    }
}