.enroll_support {
    display: flex;
}

.enroll_support > div {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 10/6;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.enroll_support {
    font-size: 2vw;
    color: black;
}

.enroll {
    border-right: 1px solid black;
}

.homeNav {
    height: 6vw;
    font-size: 2vw;
    border-bottom: 1px solid black;
}

.link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    width: 100%;
    height: 100%;
}

.enroll_support > div > .link {
    justify-content: center;
    padding: 0;
}

.link > div {
    height: fit-content;
    color: black;
}

@media only screen and (max-width: 600px) {
    .enroll_support > div .link > div {
        font-size: 4vw;
    }

    .homeNav {
        height: 12vw;
        font-size: 4vw;
        padding-top: 1vw;
    }
}

@media (hover: hover) {
    .homeNav:hover {
        background-color: black;
    }
    
    .homeNav:hover > .link > div{
        color: white;
    }

    .enroll:hover {
        background-color: #D042E5;
    }
    
    .support:hover {
        background-color: #FFA100;
    }
}