.card {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    min-height: fit-content;
}

.image {
    display: flex;
}

.image > img {
    width: 100%;
    height: auto;
}

.text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.text > h2 {
    font-size: var(--fs-normal);
}

.link {
    color: white;
    font-size: clamp(.8rem, 1vw, 1.2rem);
    margin-top: 2em;
    justify-self: flex-end;
    font-family: HelveticaNeueLTProRoman;
    text-align: end;
}

