.sponsors {
    display: grid;
    background-color: #CC52E0;
    grid-area: partnerships;
    max-width: 100vw;
    grid-template-columns: repeat(2, 50vw);
}

.leftColumn {
    padding: 6vw;
}

.leftColumn > p {
    max-width: 20em;
    font-size: 2vw;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    padding: 6vw;
}

.icons {
    display: flex;
    gap: 2vw;
    margin-top: 3vw;
}

.icon {
    display: grid;
    place-items: center;
    width: 10vw;
    aspect-ratio: 1/1;
}

.icon > img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .sponsors {
        grid-template-columns: 1fr;
    }
    .leftColumn {
        width: 100%;
    }

    .leftColumn > p {
        width: 100%;
        font-size: 4vw;
    }
    .righColumn {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .righColumn > * {
        margin-top: 10vw;
    }
}