.body {
    display: grid;
    background-color: #CC52E0;
    max-width: 100vw;
    grid-template-columns: repeat(2, 50vw);
}

.leftColumn {
    padding: 6vw;
}

.leftColumn > p {
    max-width: 20em;
    font-size: 2vw;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    padding: 6vw;
}

.icons {
    display: flex;
    gap: 2vw;
    padding: 3vw;
    justify-content: space-around;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.icon {
    display: grid;
    place-items: center;
    width: clamp(100px, 10vw, 200px);
    aspect-ratio: 1/1;
}

.icon > img {
    width: 100%;
}

.link {
    color: black;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .body {
        grid-template-columns: 1fr;
    }
    .leftColumn {
        max-width: 100%;
    }

    .leftColumn > p {
        width: 100%;
        font-size: 4vw;
    }
    .righColumn {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .righColumn > * {
        margin-top: 10vw;
    }

    .icons {
        flex-wrap: wrap;
    }
}
