.support {
    font-family: HelveticaNeueLTPro;
}

.body {
    border-top: 1px solid black;
    padding: 6vw;
}

.body > h2 {
    font-size: var(--fs-big);
    margin-bottom: 4vw;
    text-align: center;
}

.body > p {
    font-family: HelveticaNeueLTProMedium;
    font-size: var(--fs-small);
    text-align: center;
}