.block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 6vw;
    height: 100%;
    max-width: 50vw;
}

.block > p {
    margin-top: 1vw;
}

.block > * > * > li {
    margin-top: 1.4vw;
}

.block > * > * > a {
    color: black;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .block {
        max-width: 100vw;
        padding: 10vw 6vw;
    }
}