.enroll_support {
    display: flex;
}

.enroll_support > div {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 10/6;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.enroll_support > div > div {
    font-size: 2vw;
}

.enroll {
    border-right: 1px solid black;
}

.enroll:hover {
    background-color: #D042E5;
}

.support:hover {
    background-color: #FFA100;
}

.homeNav {
    height: 6vw;
    display: grid;
    place-items: center start;
    padding-top: 0.7vw;
    padding-left: 6vw;
    font-size: 2vw;
    border-bottom: 1px solid black;
}

.homeNav:hover {
    background-color: black;
    color: white;
}
