@font-face {
  font-family: HelveticaNeueLTPro;
  src: url('./HelveticaNeueLTProBdEx.otf');
}

@font-face {
  font-family: HelveticaNeueLTProMedium;
  src: url('./HelveticaNeueLTProMd.otf');
}

@font-face {
  font-family: HelveticaNeueLTPro63MdEx;
  src: url('./HelveticaNeueLTProMdEx.otf');
}

@font-face {
  font-family: HelveticaNeueLTProRoman;
  src: url('./HelveticaNeueLTProRoman.otf');
}

@font-face {
  font-family: HelveticaNeueLTProBd;
  src: url('./HelveticaNeueLTProBd.otf');
}

:root {
  --fs-small: clamp(1rem, 1.2vw, 1.6rem);
  --fs-normal: clamp(1.4rem, 1.4vw, 3rem);
  --fs-big: clamp(1.6rem, 1.8vw, 3.2rem);
  --fs-verybig: clamp(1.2rem, 3.2vw, 5rem);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: HelveticaNeueLTPro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

p, .list {
  font-family: HelveticaNeueLTProRoman;
  font-size: var(--fs-small);
  margin: 1vw 0 0 0;
  line-height: 1.5em;
}

h1 {
  font-family: HelveticaNeueLTProMedium;
  margin: 0 0 1vw 0;
  font-weight: 400;
  font-size: var(--fs-big);
}

blockquote {
  font-family: HelveticaNeueLTProBd;
  font-size: var(--fs-normal);
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.list > li::before {
  content: '- ';
}

input {
  font-family: HelveticaNeueLTProRoman;
  font-size: var(--fs-small);
}

textarea {
  resize: none;
  font-family: HelveticaNeueLTProRoman;
  font-size: var(--fs-small);
}

@media only screen and (max-width: 600px) {
  
}